Finding {
    layout: grid;
    grid-size: 2 1;
    grid-columns: 1fr 1fr;
    grid-rows: auto;
    height: auto;
}

Finding.-highlight {
    background: transparent !important;
    color: $highlight !important;
    text-style: none !important;
}

Finding.-highlight FindingsDescription,
Finding.-highlight FindingsSuggestion {
    color: $highlight !important;
}
