Finding {
    layout: horizontal;
    height: auto;
}

Finding.-highlight {
    background: transparent !important;
    color: $highlight !important;
    text-style: none !important;
}

Finding.-highlight FindingsDescription,
Finding.-highlight FindingsSuggestion {
    color: $highlight !important;
}
